:root{
  --main-color: #FF8C00;
  --black: #13131a;
  --bg: #010103;
  --border: .1rem solid rgba(255, 255, 255, 0.3);
}

*{
  font-family: 'Oswald' , sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
html:: -webkit-scrollbar{
  width: .8rem;
}
html:: -webkit-scrollbar-track{
  background: transparent;
}
html:: -webkit-scrollbar-thumb{
  width: #fff;
  border-radius: 5rem;
}

body{
  background: var(--bg);
}

section{
  padding: 2rem 7%;

}



.header{
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
}

.header .logo img{
  height: 8rem;
}
.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}
.header .navbar a:hover{
  color: var(--main-color);
  border-bottom:  .1rem solid var(--main-color);
  padding-bottom: .5rem;
}
 .header .icons div{
   color:#fff;
   cursor: pointer;
   font-size: 2.5rem;
   margin-left: 2rem;
 }
.header .icons div:hover{
  color: var(--main-color);
}

#menu-btn{
  display: none;
}

.header .search-form{
  position: absolute;
  top: 115%; right: 7%;
  background: #fff;
  width: 30rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  border-radius: 5px;
}

.header .search-form.active{
  transform: scaleY(1);
}

.header .search-form input{
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem;
  text-transform: none;
}

.header .search-form label{
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black);
}

.header .search-form label:hover{
  color: var(--main-color);
}

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../img/fondo1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 60rem;

}

.home .content h3{
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;

}

.home .content p{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;

}


















































































/*media queries*/
@media (max-width:991px){

  html {
    font-size: 55%;

  }
  .header{
    padding: 1.5rem 2rem;
  }

  section{
    padding: 2rem;

  }

}

@media (max-width:768px){

#menu-btn{
  display: inline-block;
}
.header .navbar{
  position: absolute;
  top: 100%; right: -100%;
  background: #fff;
  width:  50rem;

}

.header .navbar.active{
  right: 0;
}

.header .navbar a{
  color: var(--black);
  display: block;
  margin: 1.5rem;
  padding: 5rem;
  font-size: 2rem;
}
.header .search-form{
  width: 90%;
  right: 2rem;
}


}

@media (max-width:450px){

  html {
    font-size: 50%;

  }


}



/*https://www.youtube.com/watch?v=TVFu4-Kd4oM&ab_channel=Mr.WebDesigner*/
